@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); 
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); 
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    margin-top: 10%;
    border: 6px solid black;
    border-image-source: linear-gradient(to bottom right, #f78ae0, #6638f0);
    border-image-slice: 4;
    padding: 50px;

}

.app input {
    text-transform: capitalize;
    margin-top: 20px;
}

.app input::placeholder{
    color: #fff;
    font-size: 24px;
}
.app input:focus::placeholder {
    color: transparent;
  }

#content {
    margin-top: 30px;
}

.header h1 {
    color: #fff;
    font-size: 50px;
}

.header input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    border-bottom: 2px solid #6638f0;
    border-radius: 10px;
    
    
    font-size: 20px;
    color: #fff;
}

.city {
    font-size: 35px;
    font-weight: 400px;
    margin-bottom: 10px;
}

.temp {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 15px;
}

.desc {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.minmax {
    font-size: 40px;
    font-weight: 400;
}


#thermometre-container{
    padding-top: 50px;
    margin-top: 10%;
    margin-left: 50px;
    visibility: hidden;
}
.logo{
    position: relative;
    height: 450px;
    width: 100px;
}
#bar{
    z-index: 1;
    height: 350px;
    width: 40px;
    background-color: #fefffe;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
#cricle{
    height: 100px;
    width: 100px;
    background-color: #fefffe;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
}
#cricle::after{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--thermoColor,#ff3d00);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


#bar::after{
    content: "";
    display: block;
    height: var(--thermoHeight,0%);
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: -22px;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
    background-color: var(--thermoColor,#ff3d00);
}
